.font{
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
.first-section{
    display: flex;
    padding-top: 30px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.header{
    border-left: 5px solid;
    border-image: linear-gradient(red,blue);
    border-image-slice: 1;
    padding-left: 5px;
}
.blue-color{
    color: rgb(65, 0, 168);
}
.ankor{
    text-decoration: none;
    color: wheat;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(65, 0, 168),rgb(146, 9, 158));
    padding: 10px 40px;
    border-radius: 5px;
}
.second-section{
    text-align: center;
}
.mission{
    color: rgb(0, 119, 255);
}
.three-flex{
    display: flex;
}
.one-three{
    width: 20%;
    padding: 15px;
    padding-left: 20px;
    border-radius: 10px;
}
.one-three img{
    height: 150px;
    width: 150px;
}
.mision{
    text-align: justify;
    margin: 0% 5% 5% 10%;
    background-color: rgba(222, 184, 135, 0.521);
}
.vission{
    margin: 0% 5% 5% 5%;
    text-align: justify;
    background-color: rgba(128, 128, 128, 0.438);
}
.goal{
    margin: 0% 10% 5% 5%;
    text-align: justify;
    background-color: rgba(255, 182, 193, 0.534);
}
.third-section{
    display: flex;
    text-align: justify;
    
}
.minor img{
height: 400px;
width: 400px;
}
.third{
    margin: 5%;
    font-size:20px;
}
.fourth-section{
    display: flex;
    text-align: justify;
}
footer{
    
    margin: 0 -0.52% -0.99% -0.52%  ;
    background-color: rgb(50, 44, 75);
    color: white;
    text-align: center;
    padding: 30px;
    
}

footer h1{
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
#red{
    color: red;
}
.fifth-section{
    display: flex;
    text-align: justify;
    background-image: url(images/pictures/back.png);
    background-repeat: no-repeat;
    background-position: center;
}